*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    background-color: #BA90C6;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color: #BA90C6;
 height: 70vh;
}
.container{
    height: 310px;
    width: 270px;
    border-radius: 10px;
    background-color: #FEF2F4;
    margin: 40px;
}

.container img{
    height: 230px;
    width: 250px;
    margin: 6px;
    border-radius: 10px 10px 0px 0px;
}
.container h3{
    text-align: center;
    text-transform: capitalize;
}
.container p{
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: #E4D0D0;
    padding: 8px;
    border-radius: 20px;
    margin-left: 80px;
}
.container p:hover{
    box-shadow: #E4D0D0;
    /* color: white; */
    background-color: #D5B4B4;
}
.container p a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.container p a {

}
